*{
    outline: none;
}
.item-table{
    background: #fff;
    width: 100%;
    color: #2e2e2e;
}
.item-table--header{
    display: flex;
    padding: 0 25px;
    /* padding-bottom: 10px; */
    justify-content: space-between;
    height: 75px;
    align-items: center;
    /* color: #ca1313; */
    border-bottom: 1px solid #eef0f4;
}
.table{
    overflow: scroll;
}
.title{
    font-weight: 600;
    font-size: 18px;
    color: #2e2e2e;
}
.table-customise{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #eff1f5;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    color: #3f4047;
}

.table-customise svg{
    width: 20px;
    margin: 0 5px;
    fill: #3f4047;
}
.table-customise span{
    color: #3f4047;
}
.table-settings{
    display: inline-flex;
    margin: 30px;
    border: 1px solid #ebedf2;
    border-radius: 3px;
}
.table-settings--item{
    padding: 10px 0;
    font-size: 14px;
    min-width: 80px;
    text-align: center;
}
.table-settings--item-canter{
    border-right: 1px solid #ebedf2;
    border-left: 1px solid #ebedf2;
}
.table-settings--item-active{
    background: #f4f5f8;
}
.actions{
    min-width:210px;
    align-items: flex-start;
}
.actions-btns{
    align-items: center;
    width: 135px;
    justify-content: space-between;
}
.actions-btn{
    fill: #909090;
}
.actions-wrap-btn{
    border-radius: 17px;
    border: 1px solid #909090;
    width: 27px;
    padding: 5px;
    height: 27px;
}
.actions--header{
    margin-bottom: 65px;
}
.table-col{
     display: flex;
     flex-wrap: wrap;
    user-select: none;
    transition: none!important;
    position: relative;
 }
.table-col:hover{
    z-index: 1;
    transition: all 0.3s;
    box-shadow: 0 0 10px 1px rgba(51, 51, 51, 0.2)
 }
.table-row--cell {
    padding: 15px 20px;
    font-size: 14px;
    width: 100%;
}
.table-row--cell-info {
    color:#62646c;
}
.table-row--cell input{
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ebedf2;
}
.table-row--cell-header{
    background: #f4f3fb;
    display: flex;
}
.table-row--cell-header p{
    color: #2e2e2e;
    font-weight: 600;
    margin-left: 10px;
}


.react-resizable {
    position: relative;
}
.react-resizable-handle {
    position: absolute;
    height: 250px;
    right: 0;
    top: 47%;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: se-resize;
}
.box{
    background:#fff;
    min-width:140px!important;
    display: inline-block;
    width: 100%;
}
.table-col-wrap{
    border-right: 1px solid #ededed;
}
/*--- table-modal ---*/
.table{
    white-space: nowrap;
}
.table-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
}
.table-modal--bg-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 3;
}
.table-modal--body{
    background: #fff;
    max-width: 401px;
    width: 100%;
    max-height: 550px;
    height: 100%;
    margin: auto;
    z-index: 4;
    border-radius: 5px;
}

.table-modal--title{
    padding: 15px 25px;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
}
.table-modal--item{
    display: flex;
    align-items: center;
    margin: 5px 15px;
    padding: 5px 10px;
    font-size: 12px;
    transition: all 0.4s;
}
.table-modal--item:hover{
    transition: all 0.4s;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
}
.table-check-box{
    width: 20px;
    height: 20px;
}
.table-check-box--pin{
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #bdbdbd;
    background: #e2e2e2;
    margin: 0 10px;
}
.table-customise--close{
    width: 15px;
    height: 15px;
    fill: #dedede;
    position: absolute;
    right: -25px;
    top: 10px;
    cursor: pointer;
}