.item-table{
    background: #fff;
    /* padding: 30px; */
    max-width: 1920px;
    width: 100%;
    color: #2e2e2e;
}
.item-table--header{
    display: flex;
    padding: 0 25px;
    /* padding-bottom: 10px; */
    justify-content: space-between;
    height: 75px;
    align-items: center;
    /* color: #ca1313; */
    border-bottom: 1px solid #eef0f4;
}

.title{
    font-weight: 600;
    font-size: 18px;
    color: #2e2e2e;
}
.table-customise{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #eff1f5;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    color: #3f4047;
}

.table-customise svg{
    width: 20px;
    margin: 0 5px;
    fill: #3f4047;
}
.table-customise span{
    color: #3f4047;
}
.table-settings{
    display: inline-flex;
    margin: 30px;
    border: 1px solid #ebedf2;
    border-radius: 3px;
}
.table-settings--item{
    padding: 10px 0;
    font-size: 14px;
    min-width: 80px;
    text-align: center;
}
.table-settings--item-canter{
    border-right: 1px solid #ebedf2;
    border-left: 1px solid #ebedf2;
}
.table-settings--item-active{
    background: #f4f5f8;
}
.table-col{
     display: flex;
     flex-wrap: wrap;
     width:180px;
    transition: all 0.3s;
 }
.table-col:hover{
    z-index: 1;
    transition: all 0.3s;
    box-shadow: 0 0 10px 1px rgba(51, 51, 51, 0.2)
 }
.table-row--cell {
    padding: 15px 20px;
    font-size: 14px;
    width: 100%;
}
.table-row--cell-info {
    color:#62646c;
}
.table-row--cell input{
    display: block;
    max-width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ebedf2;
}
.table-row--cell-header{
    background: #f4f3fb;
    display: flex;
}
.table-row--cell-header p{
    color: #2e2e2e;
    font-weight: 600;
    margin-left: 10px;
}